*.iml
.gradle
/local.properties
/.idea
.idea
iosApp/
artworks/
.assets
*.apk
*.aab
*.idsig
*.jks
*.keystore
.DS_Store
/build
/captures
/app/build
/androidApp/build
/backdrop/build
/*/build
.externalNativeBuild
.cxx
local.properties
/.kotlin
/ScheduleAssistant-release.apk
/ScheduleAssistant-debug.apk
.monkeycode/
