*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
/app/build
/androidApp/build
/backdrop/build
/*/build
.externalNativeBuild
.cxx
local.properties
/.kotlin
/ScheduleAssistant-release.apk
/ScheduleAssistant-debug.apk
*.idsig
*.jks
*.keystore
.monkeycode/
